@using Tayfur.Blog.Service.ViewModels
@model ArticleCategoryAdminViewModel

@{
    ViewBag.Title = "Makale Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @section pageHeader{
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../../assets/img/article-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>  @Html.DisplayFor(model => model.Article.Title)</h1>
                            <h2 class="subheading">@Html.DisplayFor(model => model.Category.CategoryName)</h2>
                            <span class="meta">
                                @{
                                    string name = Model.Admin.FirstName + " " + Model.Admin.LastName;
                                }
                                <a href="/Home/About">@Html.DisplayFor(model => name)</a> tarafından
                                @Model.Article.CreatedDate.ToString("MMMM dd, yyyy HH:mm") tarihinde kaleme alındı.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    }
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    @Html.Raw(Model.Article.Context)
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                        <div class="d-flex flex-start w-100">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-outline w-100">
                                        <label class="form-label" for="email">E-posta : </label>
                                        <input class="form-control"
                                               id="email"
                                               type="text"
                                               style="background: #fff;" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-outline w-100">
                                        <label class="form-label" for="textAreaExample">Yorum : </label>
                                        <textarea class="form-control"
                                                  id="textAreaExample"
                                                  rows="4"
                                                  style="background: #fff;"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-10">

                                </div>
                                <div class="col-md-2 mt-2 pt-1">
                                    <button type="button" class="btn btn-primary btn-sm">Gönder</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="mt-2">
                        Yorumlar :
                        <div class="card mb-4">
                            <div class="card-body">
                                <p>Type your note, and hit enter to add it</p>
                                <p class="small mb-0 ms-2"></p>
                            </div>
                            <div class="card-footer small">
                                Martha tarafından September 06, 2021 20:40 tarihinde yazıldı.
                            </div>
                        </div>
                    </div>

                    <p>
                        @Html.ActionLink("Anasayfaya geri dön", "Index", "Home", new { @class = "btn btn-info" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
</div>
